*.iml
.gradle
/local.properties
.idea/
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/obj
*.apk
*/obj
/.idea/misc.xml
*.version.json
app/src/main/assets/version.json
*build*
*release*
*debug*
*bin*
*.user
*.Release
*.Debug
*.exe